.left {
    float: left;
}
.right {
    float: right;
}
html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        color: #333;
        line-height: 20px;
        background: #f0f0f0;
        .login {
            margin-top: 60px;
            background: #FFFFFF;
            padding: 20px;
            box-shadow: 0 0 10px #CCCCCC;
        }
        .mainBox {
            width: 100%;
            height: 100%;
            .mainLeft {
                position: relative;
                z-index: 999;
                float: left;
                width: 140px;
                height: 100%;
                overflow: hidden;
                overflow-y: auto;
                margin-left: -100%;
                background: rgb(59, 84, 136);
                color: #FFFFFF;
                .userInfo {
                    margin: 40px 0;
                    text-align: center;
                    img {
                        border: #FFF 2px solid;
                        border-radius: 1000px;
                        display: block;
                        width: 80px;
                        height: 80px;
                        margin: 0 auto;
                    }
                    h4 {
                        font-size: 16px;
                    }
                }
                .nav {
                    li {
                        font-size: 14px;
                        line-height: 40px;
                        margin-bottom: 10px;
                        a {
                            color: #FFFFFF;
                            display: block;
                            padding: 0 10%;
                            border-left: rgb(59, 84, 136) 4px solid;
                            i {
                                margin-right: 10px;
                            }
                            &:hover,
                            &.router-link-active {
                                background: rgb(38, 58, 99);
                                border-left: rgb(255, 217, 73) 4px solid;
                            }
                        }
                    }
                }
            }
            .mainRight {
                float: left;
                width: 100%;
                height: 100%;
                overflow: hidden;
                overflow-y: scroll;
                background: rgb(246, 247, 252);
                .mainCont {
                    padding: 60px 0 0 140px;
                }
            }
            .mainTop {
                height: 60px;
                background: rgba(255,255,255,0.8);
                box-shadow: 0 0 10px #CCCCCC;
                position: fixed;
                top: 0;
                left: 140px;
                right: 0;
                z-index: 998;
                .userInfo {
                    border-top: rgb(59, 84, 136) 2px solid;
                    float: right;
                    margin-right: 20px;
                    padding: 0 10px;
                    line-height: 58px;
                    span {
                        margin: 0 10px;
                        float: left;
                    }
                    img {
                        display: block;
                        width: 40px;
                        height: 40px;
                        border-radius: 1000px;
                        margin-top: 9px;
                    }
                    h4 {}
                    a {}
                }
            }
        }
        .panel {
            .panelTitle {
                border-bottom: #DDDDDD 1px solid;
                line-height: 40px;
                padding: 0 20px;
                font-size: 14px;
                .more {
                    float: right;
                }
            }
            .panelCont {}
        }
        // 信息概览
        .toBeDone {
            ul {
                padding: 20px;
                overflow: hidden;
                li {
                    float: left;
                    width: 25%;
                    text-align: center;
                    &:last-child {
                        border-left: #DDDDDD 1px solid;
                    }
                    .number {
                        display: block;
                        color: rgb(22,124,245);
                        line-height: 40px;
                        font-size: 24px;
                    }
                    .img {
                        img {
                            width: 30px;
                            height: 30px;
                            display: block;
                            border-radius: 1000px;
                            margin: 5px auto;
                        }
                    }
                }
            }
        }
        // 文章列表
        .articleList {
            padding: 10px 20px;
            dl {
                padding: 10px 0;
                dt {
                    line-height: 30px;
                    .time {
                        color: #888;
                        float: right;
                    }
                }
                dd {
                    color: #888888;
                    .more {
                        display: block;
                        text-align: right;
                        color: #444444;
                    }
                }
            }
        }
        // 疑难课程列表
        .smallDifficultyList {
            overflow: hidden;
            padding: 10px;
            dl {
                float: left;
                width: 50%;
                padding: 10px;
                dt {
                    float: left;
                    margin-right: 10px;
                    img {
                        display: block;
                    }
                }
            }
        }
        .courseList {
            padding: 10px;
            dl {
                padding: 10px;
                dt {
                    width: 100%;
                    img {
                        width: 100%;
                        display: block;
                    }
                }
                dd {
                    background: rgb(246,247,252);
                    color: #888;
                    overflow: hidden;
                    padding: 0 20px;
                    .fl {
                        .left;
                        height: 24*3px;
                    }
                    .fr {
                        .right;
                        padding: 24px 0;
                        line-height: 24px;
                        .forProgress {
                            .left;
                            margin-right: 10px;
                        }
                        .forEdit {
                            .right;
                            width: 80px;
                        }
                    }
                }
            }
        }
    }
}